.displayBox {
    width: auto;
    height: auto;
    padding: 10px;
}

.editable-text {
    cursor: pointer;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
}
