.displayBox {
    height: auto;
    width: auto;
    padding: 10px;
    border: 3px black dashed;
}

.selectedBox {
    height: auto;
    width: auto;
    padding: 10px;
    border: 3px darkgreen solid;
}

h3 {
    text-align: center;
}

.active {
    background-color: gold;
}